.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
*.log
*.sql
*.sqlite
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
.idea
.idea/
.buildpath
.project
.settings/
.zfproject.xml
.externalToolBuilders/
debug.txt
.metadata
.metadata?
.coffee
.coffee?
codiqa-app/
app/assets/components/requirejs/
app/resume/tmp
app/assets/*.js
!app/assets/app.js
app/app.appcache
app/version
app/denuncias
