.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
*.log
*.sql
*.sqlite
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
.idea/
.idea
.buildpath
.project
.settings/
.zfproject.xml
.externalToolBuilders/
debug.txt
.metadata
.metadata?
